.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gold;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
}

@media only screen and (min-width: 320px) {
  .header {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    width: 30%;
    height: 100%;
    padding-top: 140px;
    position: fixed;
    z-index: 0;
  }
}