.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-color: #eff63e;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
}