.navigation {
  display: flex;
  width: 100%;
  height: 144px;
  color: #FFFFFF;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.project-name {
  font-family: 'Bungee', cursive;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write {
  font-weight: bold;
}

i.fa-angles-down {
  color: red;
}

@media only screen and (min-width: 320px) {
  .navigation {
    background-color: gold;
    background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  }
}

@media only screen and (min-width: 1024px) {
  .navigation {
    background-color: #4056A1;
    background-image: none;
    position: fixed;
  }
}