.navigation {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  font-family: 'Bungee', cursive;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write {
  font-weight: bold;
}

i.fa-angles-down {
  color: red;
}