.error-message {
  display: flex;
  color: red;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
  justify-content: center;
}

.new-tweet {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%
}

.prompt {
  font-size: smaller;
  margin-bottom: 2px;
}

.tweetButton {
  display: flex;
  font-size: small;
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: white;
  align-items: center;
}

.counter {
  display: flex;
  font-size: medium;
  font-family: 'Bungee', cursive;
  color: rgb(88, 88, 88);
}

.new-tweet textarea {
  display: inline-block;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  font-size: small;
  border-bottom: solid;
}

.buttonAndCount {
  display: flex;
  justify-content: space-between;
}